$color-background: #000;
$color-primary: #fefefe;
$color-red: #f90101;

$breakpoint-medium: 600px;

$shrine-background: #777;
$shrine-border-color: #333;
$knob-color: darken($shrine-background, 20);
$padding: 1rem;
$content-background-color: #111;
$color-white: #fff;

@mixin text-glow() {
  text-shadow: 0 0 0.4rem rgba($color-red, 0.9);
  color: $color-red;
}

%knob {
  margin: 0 auto 1rem;
  background: linear-gradient(-5deg, rgba($knob-color, 0.5) 0%, lighten($knob-color, 30) 100%);
  box-shadow: 0 0 0.4rem rgba($knob-color, 0.4);
  border: 1px solid rgba($knob-color, 0.7);
  border-radius: 50%;
  display: block;
  height: 2rem;
  width: 2rem;
  transition: background 0.3s ease-in;
  font-size: 0;
  cursor: pointer;
}
